.ContentIndex {
}

.ContentLabel {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    height: 25px;
    padding-left: 5px;
}
.ContentLabel:hover {
    background-color: #ddc7ff;
    border-radius: 5px;
}

.FoldoutArrow {
    align-self: center;
    width: 15px;
    height: 15px;
    filter: brightness(0) saturate(100%) invert(8%) sepia(28%) saturate(4101%) hue-rotate(244deg) brightness(90%) contrast(97%);
}
.FoldoutArrow-Expanded {
    transform: rotate(90deg);
}

.IndexLabel {
    font-weight: bold;
    height: 25px;
    margin: 0 0 0 5px;
    align-content: center;
}

.Breadscrumb {
    background-color: #1f1f1f;
    width: 1px;
    height: 100%;
    margin: 0 12px 0 7px;
}

.collapsible {
    overflow: hidden;
    max-height: 0;
}

.collapsible.expanded {
    max-height: 500px; /* Adjust this value as needed to fit your content */
}
