body {
    margin: 0;
    overflow: hidden; /* Prevents body scrolling */
}

.split-view {
    margin-top: 85px;
    display: flex;
    height: calc(100vh - 50px); /* Subtract TitleBar height */
    width: 100%;
}

.panel {
    flex: 1;
    overflow: auto;
    padding: 10px;
    margin-bottom: 35px;
}

    .panel.left {
        background-color: #f4edff;
        min-width: 300px; /* Maximum width for the left panel */
        max-width: 300px; /* Maximum width for the left panel */
        flex: 1;
        overflow: auto;
        padding: 10px;
        scrollbar-color: #cba8ff #f4edff;
    }

    .panel.right {
        background-color: #ffffff;
        scrollbar-color: #cba8ff #ffffff;
    }

.divider {
    width: 5px;
    background-color: #f4edff;
    cursor: col-resize;
}
